In [ ]:
#list of highschools
high_school=["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_school:
    print(school)

In [6]:
high_school_types = [{"High School": "Hernandez", "Type": "District"},{"High School": "Figueroa", "Type": "District"},{"High School": "Wilson", "Type": "Charter"},{"High School": "Wright", "Type": "Charter"}]
for schooltype in high_school_types:
    print(schooltype)

{'High School': 'Hernandez', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [11]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
print(high_schools)

 ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [25]:
# Create a Pandas Series from a list.
import pandas as pd
pd.Series()
school_series= pd.Series(high_schools)
for schoolname in school_series:
    print(schoolname)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

<ipython-input-25-fd8b8c0c1068>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

In [27]:
high_school_dict = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
import pandas as pd 
school_df=pd.DataFrame(high_school_dict)
school_df[{"School ID"]=school_id,["School Name"]=School_name,["Type"]=type
school_d 
school_df
print(school_df)

SyntaxError: cannot assign to function call (<ipython-input-27-08b759eebc34>, line 8)

In [39]:
school_id =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name = ["Huang High School",
"Figueroa High School","Shelton High School","Hernandez High School","Griffin High School",
"Wilson High School","Cabrera High School","Bailey High School","Holden High School",
"Pena High School","Wright High School","Rodriguez High School","Johnson High School",
"Ford High School","Thomas High School"]
type_of_school = ["District", "District" "Charter", "District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District",]
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
import pandas as pd 
school_df=pd.DataFrame(high_school_dict)
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)