In [ ]:
#list of highschools
high_school=["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_school:
    print(school)

In [ ]:
high_school_types = [{"High School": "Hernandez", "Type": "District"},{"High School": "Figueroa", "Type": "District"},{"High School": "Wilson", "Type": "Charter"},{"High School": "Wright", "Type": "Charter"}]
for schooltype in high_school_types:
    print(schooltype)

In [ ]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
print(high_schools)

In [ ]:
# Create a Pandas Series from a list.
import pandas as pd
pd.Series()
school_series= pd.Series(high_schools)
for schoolname in school_series:
    print(schoolname)

In [ ]:
high_school_dict = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
import pandas as pd 
school_df=pd.DataFrame(high_school_dict)
print(school_df)

In [7]:
import pandas as pd 
school_id =[0, 1, 2, 3]
school_name = ["Huang High School",
"Figueroa High School","Shelton High School","Hernandez High School"]
school_type = ["District", "District" "Charter", "District"]
combined={'School ID': school_id, 'school_name':school_name, 'type':school_type}
school_id_name_type_df=pd.DataFrame(combined)
school_id_name_type_df.values

ValueError: arrays must all be same length