In [1]:
#Find Missing Values 4.5.1
import pandas as pd 
import os 
school_data=os.path.join("resources","schools_complete.csv") 
student_data=os.path.join("resources","students_complete.csv")
school_data_df=pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

In [2]:
import pandas as pd 
import os 
school_data=os.path.join("resources","schools_complete.csv") 
student_data=os.path.join("resources","students_complete.csv")
school_data_df=pd.read_csv(school_data)
print(school_data_df.count())

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [3]:
import pandas as pd 
import os 
school_data= os.path.join("resources","schools_complete.csv") 
student_data= os.path.join("resources","students_complete.csv")
student_data_df= pd.read_csv(student_data)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [4]:
import pandas as pd 
import os 
school_data= os.path.join("resources","schools_complete.csv") 
student_data= os.path.join("resources","students_complete.csv")
school_data_df= pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)
student_data_df.notnull().sum()
#school_data_df.isnull().sum()
# print(student_data_df)
# school_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [5]:
import pandas as pd 
import os 
school_data= os.path.join("resources","schools_complete.csv") 
student_data= os.path.join("resources","students_complete.csv")
school_data_df= pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)
student_data_df.notnull().sum()
#school_data_df.isnull().sum()
# print(student_data_df)
# school_data_df.count()
school_data_df.budget.dtypes
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [6]:
import pandas as pd 
import os 
school_data= os.path.join("resources","schools_complete.csv") 
student_data= os.path.join("resources","students_complete.csv")
school_data_df= pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [7]:
import pandas as pd 
import os 
school_data= os.path.join("resources","schools_complete.csv") 
student_data= os.path.join("resources","students_complete.csv")
school_data_df= pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [1]:
school_data_df= pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df

NameError: name 'pd' is not defined