In [1]:
import pandas as pd 
import os 
school_data=os.path.join("resources","schools_complete.csv") 
student_data=os.path.join("resources","students_complete.csv")
school_data_df=pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

In [2]:
#created new df to merge 2 df of students and school
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#get total students in all schools given use one column["student_name"] name to get total number 
total_studentcount=school_data_complete_df["student_name"].count()
total_studentcount

39170

In [4]:
#get number of schools assign to variable 
#total_schoolcount=school_data_df["school_name"].count()

In [5]:
#use merged df to find number of schools 
total_schoolcount=len(school_data_complete_df["school_name"].unique())
total_schoolcount

15

In [6]:
# find total budget for all schools 
total_budget=school_data_df["budget"].sum()
total_budget

24649428

In [7]:
#average math score in student data
Avg_mathscore=school_data_complete_df["math_score"].mean()
Avg_mathscore

78.98537145774827

In [8]:
#average reading score in student data
Avg_readscore=school_data_complete_df["reading_score"].mean()
Avg_readscore

81.87784018381414

In [9]:
# % of pass students in math and reading math and reading must be >=70
pass_math=school_data_complete_df["math_score"]>=70
pass_read=school_data_complete_df["reading_score"]>=70
pass_math
pass_read

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [10]:
#filter passed math data
pass_math=school_data_complete_df[school_data_complete_df["math_score"]>=70]
totalcount_passmath=pass_math["student_name"].count()
totalcount_passmath

29370

In [11]:
#filter passed reading data
pass_read=school_data_complete_df[school_data_complete_df["reading_score"]>=70]
totalcount_passread=pass_read["student_name"].count()
totalcount_passread

33610

In [12]:
#% of students passes math totalcount_passmath/total students ,totalcount_passread/ total students 
percentage_passmath=(float(totalcount_passmath/total_studentcount))*100
percentage_passmath

74.9808526933878

In [13]:
percentage_passread=(float(totalcount_passread/total_studentcount))*100
percentage_passread

85.80546336482001

In [14]:
#get total count of all students passes both math and reading
pass_math_read=school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
totalcount_pass_math_read=pass_math_read["student_name"].count()
totalcount_pass_math_read

25528

In [15]:
#overall passing percentage 
#65.17% of students in total 39170 passed both 
Overall_pass_percentage=(float(totalcount_pass_math_read/total_studentcount))*100
Overall_pass_percentage

65.17232575950983

In [16]:
#module 4.7.7 last excercise put all info we found keys as column in new df [list{dictionary}]
all_metrics=([{"Total School":total_schoolcount,
"Total Students":total_studentcount,
"Total Budget":total_budget,
"Average Math Score":Avg_mathscore,
"Average Reading Score":Avg_readscore,
"% Passing Math":percentage_passmath,
"% Passing Reading":percentage_passread,
"% Overall Passing":Overall_pass_percentage}])
district_summary_df= pd.DataFrame(all_metrics)
district_summary_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [17]:
# module 4.7.8 format numbers inside columns 
#defining functions def functionname():
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
totalcount_passmath=29370
total_studentcount= 39170
def passing_math_percent(totalcount_passmath, total_studentcount):
    return totalcount_passmath / float(total_studentcount) * 100
passing_math_percent()

TypeError: passing_math_percent() missing 2 required positional arguments: 'totalcount_passmath' and 'total_studentcount'

In [ ]:
totalcount_passmath=29370
total_studentcount= 39170
passing_math_percent(totalcount_passmath, total_studentcount)

In [ ]:
import pandas as pd
# Convert the my_grades to a Series
my_grades = ['B', 'C', 'B' , 'D']
my_grades = pd.Series(my_grades)
my_grades

In [ ]:
 #change index 0 value B to A MOD 4.7.8 ASK IN CLASS
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

In [ ]:
# Using the format() function.:.0f how many after decimal
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.1f}".format(grade))

In [ ]:
district_summary_df

In [ ]:
district_summary_df["Total Students"]= district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"]= district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"]= district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"]= district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"]= district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"]= district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"]= district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

In [ ]:
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
# put perschool name and type into a dataframe 
school_info= pd.DataFrame(per_school_types)
school_info

In [ ]:
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
district_summary_df

In [ ]:
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
school_data_df.set_index(["school_name"])["size"]

In [ ]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_math

In [ ]:
per_school_reading

In [ ]:
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

In [ ]:
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_reading

In [ ]:
#groupby() function will split an object (like a DataFrame) and apply a mathematical operation.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_math

In [ ]:
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_reading

In [ ]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading.head()

In [ ]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

In [ ]:
per_overall_passing_percentage = (per_passing_math_reading) /  (per_school_counts) * 100
per_overall_passing_percentage

In [ ]:
per_school_summary_df = pd.DataFrame({"School Type": per_school_types,"Total Students": per_school_counts,
"Total School Budget": per_school_budget,"Per Student Budget": per_school_capita,"Average Math Score": per_school_math,
"Average Reading Score": per_school_reading,"% Passing Math": per_school_passing_math,
"% Passing Reading": per_school_passing_reading,"% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

In [18]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df

NameError: name 'per_school_summary_df' is not defined

In [19]:
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df

NameError: name 'per_school_summary_df' is not defined