In [ ]:
#import csv
import pandas as pd 
import os 
school_data=os.path.join("resources","schools_complete.csv") 
student_data=os.path.join("C:\Users\Sangeetha\Documents\GitHub\School_District_Analysis\resources\students_complete.csv")

In [5]:
import pandas as pd 
import os 
school_data=os.path.join("resources","schools_complete.csv") 
student_data=os.path.join("resources","students_complete.csv")
school_data_df=pd.read_csv(school_data)
print(school_data_df)

    School ID            school_name      type  size         budget
0           0      Huang High School  District  2917  $1,910,635.00
1           1   Figueroa High School  District  2949  $1,884,411.00
2           2    Shelton High School   Charter  1761  $1,056,600.00
3           3  Hernandez High School  District  4635  $3,022,020.00
4           4    Griffin High School   Charter  1468    $917,500.00
5           5     Wilson High School   Charter  2283  $1,319,574.00
6           6    Cabrera High School   Charter  1858  $1,081,356.00
7           7     Bailey High School  District  4976  $3,124,928.00
8           8     Holden High School   Charter   427    $248,087.00
9           9       Pena High School   Charter   962    $585,858.00
10         10     Wright High School   Charter  1800  $1,049,400.00
11         11  Rodriguez High School  District  3999  $2,547,363.00
12         12    Johnson High School  District  4761  $3,094,650.00
13         13       Ford High School  District  2739  $1,763,916.00
14         14     Thomas High School   Charter  1635  $1,043,130.00

In [8]:
import pandas as pd 
import os 
school_data= os.path.join("resources","schools_complete.csv") 
student_data= os.path.join("resources","students_complete.csv")
student_data_df= pd.read_csv(student_data)
print(student_data_df)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]